{% extends "clientapp/base.html" %} {% load crispy_forms_tags %}

<!-- Content block for the Update Client form -->
{% block content %}
<div class="client-form">
  <br />
  <h3 class="text-center">Update Client Information</h3>
  <hr />

  <!-- Form for updating client -->
  <form method="POST" autocomplete="off">
    {% csrf_token %} {{form.first_name|as_crispy_field}}
    <br />
    {{form.last_name|as_crispy_field}}
    <br />
    {{form.email|as_crispy_field}}
    <br />
    {{form.phone|as_crispy_field}}
    <br />
    {{form.street_name|as_crispy_field}}
    <br />
    {{form.city|as_crispy_field}}
    <br />
    {{form.province|as_crispy_field}}
    <br />
    {{form.country|as_crispy_field}}
    <br />
    <button type="submit" class="btn btn-dark w-100 btn-block p-2">
      Update Client
    </button>
  </form>
</div>
{% endblock %}
